body {
    background-color: #0f172a;
    color: #f8fafc;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    margin: 10px;
    padding: 20px 40px;
    align-items: center;
}

p,
li {
    padding-left: 30px;
    padding-right: 30px;
}

.hero-section {
    text-align: center;
    padding: 20px 20px 40px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:active {
    color: #fef3c7;
    text-shadow: 0 0 8px rgba(254, 243, 199, 0.5);
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
    padding: 0 20px;
    text-align: center;
    align-items: center;
}

h2 {
    color: white;
    margin-top: 60px;
    padding: 0 20px 0 30px;
}

.app-viewport {
    width: 100%;
    padding: 40px 0;
    align-items: center;
    overflow: hidden;
}

.horizontal-scroll-track {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding: 20px 50px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horizontal-scroll-track::-webkit-scrollbar {
    display: none;
}

.app-shot:hover {
    transform: scale(1.05) translateY(-15px);
    filter: brightness(1.1);
    border-color: #00005e;
    box-shadow: 0 35px 60px -15px rgba(1, 12, 107, 0.3);
    cursor: pointer;
}

.quarto-title-block,
#quarto-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    padding: 60px 0;
    position: relative;
}

.marquee-content {
    display: flex;
    width: max-content;
    gap: 30px;
    animation: scroll-loop 40s linear infinite;
}

.app-shot {
    width: 260px;
    height: auto;
    border-radius: 18px;
    border: 2px solid #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}

@keyframes scroll-loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

pre.code-with-copy,
.sourceCode,
.sourceCode span,
code {
    background-color: #c7d0da !important;
    color: #01040a !important;
}

pre.code-with-copy {
    padding: 1rem;
    border-radius: 8px;
    margin-left: 30px;
}